.flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body
{
    background-color: aliceblue;
}

.container
{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(169 255 175);
    width: 30vw;
    padding: 10px;
}

.second_h1
{
    border: 3px solid rgb(81, 81, 81);
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 222, 0.79);
    text-align: center;
    color: rgb(8, 100, 109);
    font-size: 40px;
}

div
{
    flex-direction: column;
}

h1
{
    text-align: center;
    font-size: 50px;
    color: rgb(140, 42, 42);
    margin: 5px;
    padding: 5px;
}